<div class="has-background-dark section">
    <div class="header-box">
        <h1 class="title is-1">My Dashboard</h1>
    </div>
</div>

<section class="custom-add-comment-button">
    <div id="add-new-post" class="button">
        <h1>+</h1>
        <p>New Post</p>
    </div>
</section>

{{#each blogposts as |post|}}
<div class="custom-m-30 comment-box">
    <div class="has-background-dark columns">
        <div class="column is-7">
            <h2 data="{{post.id}}" class="blogpost-title title is-4 has-text-grey-lighter padding-10 custom-margin-left-20 custom-inline">{{post.title}}</h2>
        </div>
        <p class="column is-3 custom-text-right custom-inline">Posted by <span class="custom-text-light-blue">{{user.name}}</span> on {{format_date post.createdAt}}</p>
        <button class="edit-button column is-1 has-background-info">Edit</button>
        <button class="delete-button column is-1 has-background-danger">Delete</button>
    </div>

    <div>
        <p>{{post.content}}</p>
    </div>
</div>
{{/each}}

<script src="/js/dashboard.js"></script>