{{!-- /post/:id endpoint  --}}
<div class="has-background-dark section">
    <div class="header-box">
        <h1 class="title is-1">The Tech Blog</h1>
    </div>
</div>

<div class="custom-m-30 single-comment-box">
    <div class="has-background-dark columns">
        <h2 data="{{id}}" class="blogpost-title title is-4 has-text-grey-lighter padding-10 custom-margin-left-20 column is-9 custom-inline">{{title}}</h2>
        <p class="column is-3 custom-text-right custom-inline">Posted by <span class="custom-text-light-blue">{{user.name}}</span> on {{format_date createdAt}}</p>
    </div>

    <div>
        <p>{{content}}</p>
    </div>
</div>

{{#if logged_in}}
<form id="add-comment-form" class="custom-text-box">
    <div class="media">
        <div class="media-content">
            <div class="field">
                <p class="control">
                    <textarea id="typed-comment" class="textarea" placeholder="Posted by {{user.name}}"></textarea>
                </p>
            </div>
        </div>
    </div>

    <div class="custom-display-flex">
        <button id="post-comment-textbox" for="textbox" class="custom-post-button button is-info">Comment</button>
    </div>
</form>
{{/if}}

{{#each comments}}
<section class="comment box custom-comment-box">
    <p>{{comment_text}}</p>
    <p class="custom-comment-name-date">Posted by <span class="custom-text-light-blue">{{user.name}}</span> on {{format_date createdAt}}</p>
</section>
{{/each}} 

{{#if logged_in}}
<script src="/js/post.js"></script>
{{/if}}
